<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="dropdowntest">
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <a href="/">Hjem</a>
                        <a href="/forbruger">Forbruger</a>
                        <a href="/organisation">Organisation</a>
                        <a href="/virksomhed">Virksomhed</a>
                    </div>
                </div>
            </div>
            <!-- <nav>
                <a href="/">Hjem</a>
                <a href="/forbruger">Forbruger</a>
                <a href="/organisation">Organisation</a>
                <a href="/virksomhed">Virksomhed</a>
            </nav> -->
    </div>
    <div class="banner">
        <img src="madspild home.jpg" alt="Banner image">
    </div>
<div class="button-container">
    <a href="/info" class="button">
        INFO
    </a>
    <a href="/forbruger" class="button">
        Råd til forbrugere
    </a>
    <a href="/organisation" class="button">
        Organisation
    </a>
    <a href="/virksomhed" class="button">
        Virksomhed
    </a>

    </div>
    <footer>
        <div class="footer">
            <div class="footer-content">
                <div>
                    <h4>Stop madspild</h4>
                    <p>Vi er Danmarks største bevægelse mod madspild.
                        Vi har igangsat kampen mod madspild i Danmark og vi bragte
                        Danmarks kamp mod madspild på verdenskortet.
                    </p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="footer-kontakt-os">
                <h4>Kontakt os</h4>
                <p>Adresse: xx,
                    xx 1,
                    1234 xx</p>
                <p>Email:
                <p>Telefon: 12345678</p>
            </div>
            <div class="footer-bottom">
                <p>© 2024 Madspild</p>
            </div>
        </div>
    </footer>
</body>
</html>