<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="dropdowntest">
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <a href="/">Hjem</a>
                        <a href="/forbruger">Forbruger</a>
                        <a href="/organisation">Organisation</a>
                        <a href="/virksomhed">Virksomhed</a>
                    </div>
                </div>
            </div>
            <!-- <nav>
                <a href="/">Hjem</a>
                <a href="/forbruger">Forbruger</a>
                <a href="/organisation">Organisation</a>
                <a href="/virksomhed">Virksomhed</a>
            </nav> -->
    </div>
    <div class="banner">
        <img src="Glutenfri-madvarer.jpg" alt="Banner image">
    </div>
    <main>
        <div class="content">
            <section class="main-content">
                <h1>Om madspild</h1>
                <p>Hvorfor er det en god idé at mindske dit madspild? Fordi:</p>
                <ul>
                    <li>Den gennemsnitlige familie vil spare 7.000 kr. om året ved at mindske madspild.</li>
                    <li>Du vil spare tid i madindkøb hver måned</li>
                    <li>Du vil være med til at mindske miljøbelastning og CO2-udledning.</li>
                </ul>
                <p>"Der er mad nok i verden, og alligevel sulter millioner. Hvis vi ikke gør noget drastisk, kan det betyde en katastrofe for kloden" – FN's Generalsekretær Ban Ki-moon.</p>
                <p>Hvert år smider butikker i Danmark omkring 163.000 ton mad ud. Flere supermarkeder er begyndt at lave super-tilbud på varer, som nærmer sig sidste salgsdato, eller give dem væk gratis. På den måde er de med til at mindske madspildet.</p>
                <ul>
                    <h3>Oversigt over madspild:</h3>
                    <li>Middagsrester med fisk, fjerkræ og kød: 14 procent.</li>
                    <li>Friske grøntsager: 13 procent.</li>
                    <li>Brød og kager: 12 procent.</li>
                    <li>Frisk frugt: 9 procent</li>
                    <li>Kartofler og grøntsager, der er bagt, stegt eller kogt: 8 procent.</li>
                    <li>Mejeriprodukter: 5 procent.</li>
                    <li>Pålæg af fisk, fjerkræ og kød; 4 procent.</li>
                    <li>Slik, nødder, rosiner og andre tørprodukter: 4 procent.</li>
                    <li>Fersk og frossen fisk, fjerkræ og kød: 3 procent.</li>
                    <li>Brød med pålæg, for eksempel fra madpakker: 3 procent.</li>
                </ul>
            </section>
            <aside class="sidebar">
                <div class="sidebar-menu">
                    <h3>Om madspild</h3>
                    <ul>
                        <li><a href="/forbruger">Forbruger</a></li>
                        <li><a href="/organisation">Organisation</a></li>
                        <li><a href="/virksomhed">Virksomhed</a></li>
                    </ul>
                </div>
            </aside>

        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="footer-content">
                <div>
                    <h4>Stop madspild</h4>
                    <p>Vi er Danmarks største bevægelse mod madspild.
                        Vi har igangsat kampen mod madspild i Danmark og vi bragte
                        Danmarks kamp mod madspild på verdenskortet.
                    </p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="footer-kontakt-os">
                <h4>Kontakt os</h4>
                <p>Adresse: xx,
                    xx 1,
                    1234 xx</p>
                <p>Email:
                <p>Telefon: 12345678</p>
            </div>
            <div class="footer-bottom">
                <p>© 2024 Madspild</p>
            </div>
        </div>
    </footer>
</body>
</html>