<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virksomhed page</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
<div class="header-wrapper">
    <div class="header">
        <div class="dropdowntest">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="/">Hjem</a>
                    <a href="/forbruger">Forbruger</a>
                    <a href="/organisation">Organisation</a>
                    <a href="/virksomhed">Virksomhed</a>
                </div>
            </div>
        </div>
        <!-- <nav>
            <a href="/">Hjem</a>
            <a href="/forbruger">Forbruger</a>
            <a href="/organisation">Organisation</a>
            <a href="/virksomhed">Virksomhed</a>
        </nav> -->
    </div>
<a style="text-align: center" href="/">Tilbage til forsiden</a>
</body>
</html>